<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <%= link_to "Food Lover", root_path, class: "navbar-brand ms-5"  %>
  <button class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ms-auto me-2">
      <li class="nav-item">
        <%= link_to "Home", foods_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Post Your Food", new_food_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Post Your Restaurant", new_restaurant_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Your Beloved Foods", users_foods_path, class: "dropdown-item" %>
          <%= link_to "Your Beloved Restaurants", users_restaurants_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-warning" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link text-warning" %>
      </li>
      <% end %>
    </ul>
  </div>
  <%= simple_form_for :query, url: foods_path, method: "GET", html: { class: "d-flex me-2" } do |f| %>
      <%= f.input :query, label: false, placeholder: "Search", class: "form-control me-2" %>   
      <%= f.submit "Search", class: "btn btn-dark" %>
    <% end %>
</nav>