<div class="hero d-flex justify-content-between mx-5 p-3">
  <div class="hero-text">
    <h1 class="text-left">Food Lover</h1>
    <h3>Join Food Lover</h3>
    <h3> It's all about Your favorite dishes and where to enjoy them!!!</h3>
    <%= link_to "Log In" , new_user_session_path, class: "btn mt-2" %>
    <%= link_to "Sign Up" , new_user_registration_path, class:"mt-2 ms-3 btn" %>
  </div>
  <div class="hero-img">
    <%= image_tag "food-placeholder.jpg" %>
  </div>
</div>
<div style="height: 300px;"></div>
<div class="food-cards">
  <% @foods.each do |food| %>
    <%= link_to food_path(food), class: "text-decoration-none text-dark" do %>
    <div class="card">
      <% if food.photo.present? %>
          <%= cl_image_tag food.photo.key, crop: :fill, class: "card-img-top card-img-width" %>
      <% else %>
        <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-width" %>
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= food.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= food.cuisine %></h6>
        <p class="card-text"><%= food.description %></p>
        <%= render '/shared/star_rating', food: food %>
      </div>   
    </div>
    <% end %>
  <% end %>
</div>

<div style="width: 50%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>