<section id="hero">
  <div class="hero d-flex justify-content-between p-3">
    <div class="hero-text">
      <h1 class="text-left">Food Lover</h1>
      <h3>Join Food Lover</h3>
      <h3 class="mb-2"> It's all about Your favorite dishes and where to enjoy them!!!</h3>
      <%= link_to "Log In", new_user_session_path, class: "btn button mt-2" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn button mt-2 ms-5" %>
    </div>
    <div class="hero-img">
      <%= image_tag "food-placeholder.jpg" %>
    </div>
  </div>
</section>
<section id="description"  style="background-color: black">
  <div class="d-flex justify-content-between p-3">
    <div class="description-box">
      <h3>Favorite Foods</h3>
      <p>Post your favorite Food or check what other people like</p>
      <%= link_to "Learn More", foods_path, class: "btn button mt-2"  %>
    </div>
    <div class="description-box">
      <h3>Restaurants</h3>
      <p>Find a Restaurant serving your favorite Food</p>
      <%= link_to "Learn More", restaurants_path, class: "btn button mt-2"  %>
    </div>
    <div class="description-box">
      <h3>Berlin Map</h3>
      <p>Check the Berlin Map for Restaurants near you</p>
      <%= link_to "Learn More", foods_path, class: "btn button mt-2"  %>
    </div>
  </div>
</section>
<section id="top">
  <h2 class="ps-5">Todays Best Rated Foods</h2>
  <div class="food-cards my-5">
    <% @foods.each do |food| %>
      <%= link_to food_path(food), class: "text-decoration-none text-dark" do %>
      <div class="card border-0 bg-black text-white">
        <% if food.photo.present? %>
            <%= cl_image_tag food.photo.key, crop: :fill, class: "card-img-top card-img-width" %>
        <% else %>
          <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-width" %>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%= food.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= food.cuisine %></h6>
          <p class="card-text"><%= food.description %></p>
          <%= render '/shared/star_rating', food: food %>
        </div>   
      </div>
      <% end %>
    <% end %>
  </div>
</section>
<section id="map" class="d-flex align-items-center">
  <div class="map-text">
    <h2>Berlin Map</h2>
    <p>Search our Berlin Map to find Restaurants serving your favorite Food near you!</p>
    <%= link_to "Learn More", foods_path, class: "btn button mt-2"  %>
  </div>
  <div style="width: 50%; height: 600px;"
    class="map-map"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</section>