<div class="food-cards">
  <% @foods.each do |food| %>
    <%= link_to food_path(food), class: "text-decoration-none text-dark" do %>
    <div class="card">
      <% if food.photo.present? %>
          <%= cl_image_tag food.photo.key, crop: :fill, class: "card-img-top card-img-width" %>
      <% else %>
        <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-width" %>
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= food.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= food.cuisine %></h6>
        <p class="card-text"><%= food.description %></p>
        <p class="float-end">
          <% if food.average_rating.to_i > 0 %>
            <% food.average_rating.to_i.times do %>
              ⭐️
            <% end %>
          <%= food.average_rating %>
          <% else %>
            No Rating yet
          <% end %>
        </p>
      </div>   
    </div>
    <% end %>
  <% end %>
</div>