
<div class="food-cards">
  <% @results.each do |result| %>   
    <% if result.searchable_type == "Food" %>
      <%= link_to food_path(result.searchable), class: "text-decoration-none text-dark" do %>
      <div class="card">
        <% if result.searchable.photo.present? %>
            <%= cl_image_tag result.searchable.photo.key, crop: :fill, class: "card-img-top card-img-width" %>
        <% else %>
          <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-width" %>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%= result.searchable.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= result.searchable.cuisine %></h6>
          <p class="card-text"><%= result.searchable.description %></p>
          <p class="float-end">
            <% if result.searchable.avg_rating > 0 %>
              <% result.searchable.avg_rating.to_i.times do %>
                ⭐️
              <% end %>
            <%= result.searchable.avg_rating %>
            <% else %>
              No Rating yet
            <% end %>
          </p>
        </div>   
      </div>
      <% end %>
    <% else %>
      <%= link_to restaurant_path(result.searchable), class: "text-decoration-none text-dark" do %>
      <div class="card">
        <% if result.searchable.photo.present? %>
            <%= cl_image_tag result.searchable.photo.key, crop: :fill, class: "card-img-top card-img-width" %>
        <% else %>
          <%= image_tag "restaurant-placeholder.jpg", class: "card-img-top card-img-width" %>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%= result.searchable.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= result.searchable.cuisine %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= result.searchable.location %></h6>
          <p class="card-text"><%= result.searchable.description %></p>
        </div>   
      </div>
      <% end %>
    <% end %>
  <% end %>    
</div>