<div class="card mb-5">
  <% if @food.photo.present? %>
      <%= cl_image_tag @food.photo.key, crop: :fill, class: "card-img-top card-img-height" %>
  <% else %>
    <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-height" %>
  <%end%>
  <div class="card-body">
    <h5 class="card-title"><%= @food.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @food.cuisine %></h6>
    <p class="card-text"><%= @food.description %></p>
    <%= render '/shared/star_rating', food: @food%>
  </div>   
</div>
