<div class="card mb-5">
  <% if @food.photo.present? %>
      <%= cl_image_tag @food.photo.key, crop: :fill, class: "card-img-top card-img-height" %>
  <% else %>
    <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-height" %>
  <%end%>
  <div class="card-body">
    <h5 class="card-title"><%= @food.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @food.cuisine %></h6>
    <p class="card-text"><%= @food.description %></p>
    <div class="d-flex float-end">
      <%= button_to food_likes_path(@food), method: :post, class: "btn-like"  do %>
        <i class="fa-solid fa-thumbs-up"></i>
        <% end %>  
      <p><%= pluralize(@food.likes.count, 'Like')%></p>
      <%= render '/shared/star_rating', food: @food%>
      <%= link_to "Leave a Review", new_food_food_review_path(@food), class: "btn btn-primary ms-3" %>
    </div>
  </div>   
</div>
