<div class="card mb-5">
  <% if @food.photo.present? %>
      <%= cl_image_tag @food.photo.key, crop: :fill, class: "card-img-top card-img-height" %>
  <% else %>
    <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-height" %>
  <%end%>
  <div class="card-body">
    <h5 class="card-title"><%= @food.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @food.cuisine %></h6>
    <p class="card-text"><%= @food.description %></p>
    <p class="float-end p-1">
      <% if @food.avg_rating > 0 %>
        <% @food.avg_rating.to_i.times do %>
          ⭐️
        <% end %>
      <%= @food.avg_rating %>
      <% else %>
        No Rating yet
      <% end %>
      <%= link_to "Leave a Review", new_food_food_review_path(@food), class: "btn btn-primary ms-3"  %>
    </p>
  </div>   
</div>
