<div class="m-5">
  <div class="row">
    <div class="col-md-8">
      <%= render 'food_card' %>
    </div>
    <div class="col-md-4" style="overflow-y:auto; height:600px">
      <%= render 'food_reviews' %>
    </div>
  <div>
  <% if @food.restaurants.present? %>
    <h2 class="mb-5">Best Places To Eat <%= @food.name %> In Berlin</h2>
    <h3>Select another great place to eat <%= @food.name %>  

    <%= simple_form_for [@food, @food_restaurant], html: { class: "d-flex justify-content-center align-items-center" } do |f| %>
      <%= f.input :restaurant_id, collection: Restaurant.all, label: false %>
      <%= f.submit "Ok", class: "btn btn-primary" %>
      <% end %>

    or post your favorite Restaurant</h3>
    <%= link_to "New Restaurant", new_restaurant_path( :food   => @food) %>
      <%= render 'restaurant_cards' %>

  <% else %>
    <h3>Select a great place to eat <%= @food.name %>
     <%= simple_form_for [@food, @food_restaurant], html: { class: "d-flex justify-content-center align-items-center" } do |f| %>
      <%= f.input :restaurant_id, collection: Restaurant.all, label: false %>
      <%= f.submit "Ok", class: "btn btn-primary" %>
      <% end %>

  <% end %>
</div>

