<div class="m-5">
  <div class="card mb-3">
    <% if @food.photo.present? %>
        <%= cl_image_tag @food.photo.key, crop: :fill, class: "card-img-top card-img-height" %>
    <% else %>
      <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-height" %>
    <%end%>
    <div class="card-body">
      <h5 class="card-title"><%= @food.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @food.cuisine %></h6>
      <p class="card-text"><%= @food.description %></p>
      <%= link_to new_food_food_review_path(@food),
        class: "btn btn-primary ms-3 float-end" do %>
          <spam>Leave a Review</spam>
        <% end %>
      <p class="float-end p-1">
        <% if @food.average_rating.to_i > 0 %>
          <% @food.average_rating.to_i.times do %>
            ⭐️
          <% end %>
        <%= @food.average_rating %>
        <% else %>
          No Rating yet
        <% end %>
      </p>
    </div>   
  </div>
  <ul class="list-group">
    <% @food.food_reviews.order('created_at desc').each do |food_review| %>
      <li class="list-group-item">
        <% food_review.rating.times do %>
        ⭐️
        <% end %> 
        <%= food_review.content %>
      </li>
    <% end %>
  </ul>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <%= simple_form_for( [ @food, @food_review], remote: true ) do |f| %>
          <%= f.input :rating %>
          <%= f.input :content %>
          <%= f.submit class: "btn-primary " %>
        <% end %>
    </div>
  </div>
</div>



</div>
