<div class="custom-cards restaurant-card mb-4">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant), class: "text-decoration-none text-dark d-grid" do %>
      <div class="card border-0 card-dimension">
        <% if restaurant.photo.present? %>
          <%= cl_image_tag restaurant.photo.key, crop: :fill, class: "card-img-top card-img-height" %>
        <% else %>
          <%= image_tag "restaurant-placeholder.jpg", class: "card-img-top card-img-height" %>
        <%end%>
        <div class="card-body bg-black text-white">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.cuisine %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.location %></h6>
          <p class="card-text"><%= restaurant.description.truncate_words(6) %></p>
          <div class="d-flex justify-content-end">
            <%= render '/shared/star_rating', element: restaurant%>
          </div>
        </div> 
      </div>  
    <% end %>
  <% end %>
</div>