<div class="card mb-5 d-flex foods">
  <div class="card-image">
    <% if @restaurant.photo.present? %>
        <%= cl_image_tag @restaurant.photo.key, crop: :fill, class: "card-img-top card-img-height" %>
    <% else %>
      <%= image_tag "restaurant-placeholder.jpg", class: "card-img-top card-img-height" %>
    <%end%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.cuisine %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.location %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.address%></h6>
    <p class="card-text"><%= @restaurant.description %></p>
    <div class="d-flex float-end">
      <%= render '/shared/star_rating', element: @restaurant%>
      <%= link_to "Leave a Review", new_restaurant_restaurant_review_path(@restaurant), class: "btn button button-lg ms-3" %>
    </div>
  </div>   
</div>