<div class="container-xxl full-height">
  <h1 class="my-4"> <%= @restaurant.name %> </h1>
  <div class="show-layout">
    <div class="size">
      <%= render 'restaurant_card' %>
    </div>
    <div class="size overflow last">
      <%= render 'restaurant_foods' %>
    </div>
    <div class="size overflow">
      <div 
        class="map-margin map-restaurant"
        style="height: 180px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%= render 'restaurant_reviews' %>
    </div>
  </div>
</div>
